amocrm-api==2.6.1
asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
Django==5.0.7
django-cors-headers==4.4.0
django-debug-toolbar==4.4.6
django-jazzmin==3.0.0
django-modeltranslation==0.19.9
django-multiselectfield==0.1.13
djangorestframework==3.15.2
drf-yasg==1.21.7
idna==3.10
inflection==0.5.1
packaging==24.1
pillow==10.4.0
psycopg2-binary==2.9.9
PyJWT==2.9.0
python-dotenv==1.0.1
python-magic==0.4.27 # pip install python-magic
pytz==2024.2
PyYAML==6.0.2
requests==2.32.3
setuptools==75.1.0
sqlparse==0.5.1
uritemplate==4.1.1
urllib3==2.2.3
